{
  "semi": false,
  "tabWidth": 2,
  "singleQuote": true,
  "printWidth": 100,
  "trailingComma": "none",
  "plugins": [
    "prettier-plugin-tailwindcss"
  ],
  "ignore": [
    "src/types/components.d.ts",
    "src/types/auto-import.d.ts"
  ]
}